.formulario{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 50%;
}
.icon_pergunta{
    display: flex;
    flex-direction: row;
    
}
.pergunta{
    border: 0cap;
    background-color: #f3f3f3;
}
.pergunta:hover{
    cursor: pointer;
}
.form2{
    display: flex;
    flex-direction: column;
}
.iconPergunta{
    margin-top: 30px;
    width: 30px;
    margin-right: 10px

}
input::placeholder{
    color: black;
    font-size: 24px;
    padding-left: 25px;
    text-align: center;
    text-align: justify;
}
input{
    background-color: #F2CA52;
    border: 0cap;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.267);
}
.inp{
    height: 70px;
    width: 600px;
    margin-left: 40px;
    margin-top: 30px;
}
.inp2{
    height: 70px;
    width: 600px;
    margin-top: 30px;
}
.titu{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: lighter;
    
}
.butEnv{
    margin-top: 55px;
    width: 170px;
    height: 50px;
    margin-left: 40px;
    border: 0cap;
    background-color: #FDD226;
    border-radius: 30px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.267);
}
.butEnv:hover{
    cursor: pointer;
}
p{
    font-size: 24px;
}