* {
    margin: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 236, 236);
}

/*NAVBAR*/

#navbar-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 100%;
    height: 100px;
    background-color: black;
}

#logo-site img {
    height: 14rem
}

#icone-perfil-container img {
    height: 40px;
}

#botao-menu {
    border: none;
    background-color: transparent;
    color: white;
}

#modal-menu-site {
    display: none;
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #111;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.2s ease-out;
    z-index: 100;
}

#modal-menu-site ul {
    list-style-type: none;
}

#modal-menu-site ul li a {
    text-decoration: none;
}

#navbar-content-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

#container-conteudo {
    margin-top: 150px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
}

#container-conteudo input {
    width: 500px;
    height: 80px;
    border: none;
    border-radius: 10px;
    background-color: #FDD226;
    color: black;
    font-size: 18px;
    padding-left: 5px;
    box-shadow: 5px 4px 4px #00000036;

}

#container-conteudo p {
    color: black;
    font-size: 23px;
    font-weight: 600;
}

#navbar-bottom {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100px;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}

#navbar-bottom p {
    color: white;
    font-weight: 400;
}

#navbar-bottom a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar-bottom img {
    height: 60px;
}

@media (max-width: 600px) {
    #navbar-bottom {
        display: flex;
    }

    #navbar-content-container {
        display: none !important;
    }
}

@media (min-width: 601px) {
    #navbar-bottom {
        display: none;
    }

    #navbar-content-container {
        display: flex;
    }
}

#modal-menu-site.active {
    display: block;
}


/* parte do lucki */
.graf_conteudo {
    display: flex;
    justify-content: center;
}

.grafico {
    width: 70%;
    height: auto;

}

#btn-cadastro {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: #FDD226;
}

#btn-cadastro:hover {
    font-size: 19px;
    box-shadow: 0px 4px 5px #00000036;
    color: rgb(53, 53, 53);
}

.p-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.p-container a {
    font-size: 18px;
    text-decoration: none;

}