.form{
    display: flex;
    flex-direction: column;
}
.box{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 130px;
    align-content: center;
}
h1{
    font-size: 18px;
}
input{
    width: 500px;
    height: clamp(55px, 9vh, 80px);
    align-self: center;
    margin-top: 40px;
     background-color: #F2CA52;
    border: 0cap;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.267);
}
input::placeholder{
    color: black;
    font-size: 18px;
    padding-left: 15px;
    
}
a{
    font-size: 18px;
    margin-top: 10px;
    font-weight: lighter;
    color: #4D7A8C;
    margin-bottom: 20px;
}
.email{
    display: flex;
    justify-content: baseline;
    font-size: 18px;
    margin-top: 20px;
    font-weight: lighter;
    color: #1B91BF;
}
button{
    width: 170px;
    height: 50px;
    justify-content: center;
    align-self: center;
    border: 0cap;
    background-color: #FDD226;
    border-radius: 30px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.267);
}
button:hover{
    cursor: pointer;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}