* {
    margin: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 236, 236);
}

/*NAVBAR*/

#navbar-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 100%;
    height: 100px;
    background-color: black;
}

#logo-site img {
    height: 14rem
}

#icone-perfil-container img {
    height: 40px;
}

#botao-menu {
    border: none;
    background-color: transparent;
    color: white;
}

#modal-menu-site {
    display: none; /* inicialmente escondido */
    position: absolute;
    top: 50px;
    right: 20px;
    width: 180px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#modal-menu-site.active {
    display: block;
    margin-top: 40px;
}

.modal-menu-content {
    padding: 15px;
}

.modal-menu-content ul {
    list-style: none;
    padding-left: 0;
}

.modal-menu-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.modal-menu-content ul li:last-child {
    border-bottom: none;
}

.modal-menu-content ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.2s;
}

.modal-menu-content ul li a:hover {
    color: #FDD226;
}

#navbar-content-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

#container-conteudo {
    margin-top: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
}

#container-conteudo input {
    width: 500px;
      height: clamp(55px, 9vh, 80px);
    border: none;
    border-radius: 10px;
    background-color: #FDD226;
    color: black;
    font-size: 18px;
    padding-left: 5px;
    box-shadow: 5px 4px 4px #00000036;

}

.texto-cadastro {
    color: black;
    font-size: 23px;
    font-weight: 600;
}

#navbar-bottom {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100px;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}

#navbar-bottom p {
    color: white;
    font-weight: 400;
}

#navbar-bottom a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar-bottom img {
    height: 60px;
}

@media (max-width: 600px) {
    #navbar-bottom {
        display: flex;
    }

    #navbar-content-container {
        display: none !important;
    }
}

@media (min-width: 601px) {
    #navbar-bottom {
        display: none;
    }

    #navbar-content-container {
        display: flex;
    }
}

#modal-menu-site.active {
    display: block;
}


/* parte do lucki */
.graf_conteudo {
    display: flex;
    justify-content: center;
}

.grafico {
    width: 70%;
    height: auto;

}

#btn-cadastro {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: #FDD226;
    text-decoration: none;
    color: black;
}

#btn-cadastro:hover {
    font-size: 19px;
    box-shadow: 0px 4px 5px #00000036;
    color: rgb(224, 224, 224);
}

.link-suporte-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.link-suporte-container a {
    font-size: 18px;
    text-decoration: none;
    color: #111;
    padding-left: 2px;

}

.link-suporte-container a:hover {
    font-size: 19px;
    color: #000000;
}

.link-cadastro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.link-cadastro-container a:hover {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.link-cadastro-container a {
    font-size: 18px;
    color: #111;
    padding-left: 2px;
}

#btn-login{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    background-color: #FDD226;
    text-decoration: none;
    color: black;
}
#btn-login:hover {
    font-size: 19px;
    box-shadow: 0px 4px 5px #00000036;
    color: rgb(224, 224, 224);
}
.erro{
    color: red; 
    text-align:center; 
    font-weight:600; 
    margin-top:10px;
}

html, body {
    height: 100%;
}
